.App {
  text-align: center;
}

.App-header {
  position: absolute;
  width: 1440px;
  height: 101px;
  left: 0px;
  top: 0px;

  background: #AAEEAC;
}

.searchbar {
  position: absolute;
  width: 403px;
  height: 45px;
  left: 974px;
  top: 28px;

  background: #FFFFFF
}

.ellipse1 {
  position: absolute;
  width: 330px;
  height: 330px;
  left: 121px;
  top: 296px;

  background: #F3DA81;
}

.ellipse2{
  position: absolute;
  width: 330px;
  height: 330px;
  left: 555px;
  top: 296px;

  background: #88D6E8;
}

.ellipse3{
  position: absolute;
  width: 330px;
  height: 330px;
  left: 989px;
  top: 296px;

  background: #4AA007;
}
