body {
  margin: 0;
  overflow: auto;
  font-family: 'Montserrat', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='mdc-'], [class*=' mdc-'] {
  font-family: 'Montserrat', sans-serif;
}

.material-icons {
  font-family: 'Material Icons Outlined', sans-serif;
}

html, body, #app, #app > div {
  height: 100%
}

html {
  overflow: hidden;
}

.hidden {
  display: none !important
}

.mdc-button, .mdc-button__ripple {
  border-radius: 20px !important;
  -webkit-mask-image: radial-gradient(white, black);
}

.mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
  margin-left: 276px;
}
