body {
  margin: 0;
  overflow: auto;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app, #app > div {
  height: 100%
}

html {
  overflow: hidden;
}

.hidden {
  display: none !important
}
